:root {
    --fundo-principal: #0b0b12;
    --fundo-card: #13131f;
    --fundo-input: #181826;
    --cor-primaria: #7c4dff;
    --cor-primaria-variacao: #651fff;
    --texto-principal: #ffffff;
    --texto-secundario: #9e9eaf;
    --texto-mutado: #616173;
    --borda: #222235;
    --html-laranja: #e34f26;
    --css-azul: #1572b6;
    --js-amarelo: #f7df1e;
    --ts-azul: #3178c6;
    --react-celeste: #61dafb;
    --git-laranja: #f05032;
}

.contato .titulo-h1 {
    padding: 30px 50px;
    font-size: 1.5rem;
    color: var(--cor-primaria);
}

.contato .titulo-h2 {
    padding: 5px 50px;
    color: var(--texto-principal);
    font-size: 2rem;
}

.contato-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    color: var(--texto-principal)
}

.contato-conteudo .descritivo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: start;
    margin: 10px;
    width: 40%;
}

.contato-conteudo .descritivo .texto {
    width: 60%;
}

.contato-conteudo .descritivo .form {
    display: flex;
    flex-direction: column;
}

.form-mensagem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    border: 1px solid var(--borda);
    padding: 50px;
    background-color: var(--fundo-card);
    border-radius: 5px;
}

.form-mensagem  input {
    padding: 10px;
    border-radius: 5px;
    border-color: var(--texto-secundario);
    background-color: var(--fundo-input);
}

.form-mensagem button {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--cor-primaria);
    color: var(--texto-principal);
}

.form-mensagem textarea,
.form-mensagem button {
    grid-column: 1 / -1;
    width: 100%;
}

.icone {
    font-size: 1.5rem;
}

.descritivo p {
    font-size: 1.5rem;
}