:root {
    --fundo-principal: #0b0b12;
    --fundo-card: #13131f;
    --fundo-input: #181826;
    --cor-primaria: #7c4dff;
    --cor-primaria-variacao: #651fff;
    --texto-principal: #ffffff;
    --texto-secundario: #9e9eaf;
    --texto-mutado: #616173;
    --borda: #222235;
    --html-laranja: #e34f26;
    --css-azul: #1572b6;
    --js-amarelo: #f7df1e;
    --ts-azul: #3178c6;
    --react-celeste: #61dafb;
    --git-laranja: #f05032;
}

.projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 50px;
    padding: 50px;
}

.lista {
    display: flex;
    flex-direction: column;

    min-height: 550px;

    border: 1px solid var(--git-laranja);
    border-radius: 20px;
    padding: 50px;

    box-shadow: 0px 10px 15px var(--html-laranja);
    gap: 10px;
}

.lista li {
    list-style: none;
    color: var(--texto-principal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lista li h1 {
    font-size: 1.5rem;
}

.lista a {
    text-decoration: none;
    color: var(--html-laranja);
    margin-top: 20px;
}

.linguagens {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}

.linguagens li {
    padding: 6px 20px;
    border: 1px solid var(--cor-primaria-variacao);
    border-radius: 20px;
}


hr {
    border: none;
    height: 1px;
    background-color: var(--borda);
}


.projetos-destaque .titulo-h1 {
    color: var(--cor-primaria);
    padding: 30px 50px;
    font-size: 1.5rem;
}

.projetos-destaque .titulo-h2 {
    color: var(--texto-principal);
    padding: 5px 50px;
    font-size: 2rem;
}